@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --common-font-family: 'SF Pro Text', 'Roboto', sans-serif;
    --common-button-bg: #e9e9eb;
    --common-button-bg-hover: #dcdce0;
    --common-button-text: #2374f5;
}

* {
    font-family: var(--common-font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

main {
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

main > * {
    margin: 16px 0;
}

h1 {
    text-align: center;
}

.btn-common {
    font-size: 16px;
    display: inline-block;
    padding: 5px 16px;
    text-decoration: none;
    border-radius: 100vh;
    background-color: var(--common-button-bg);
    color: var(--common-button-text);
    border: none;
    text-align: left;
    cursor: pointer;
}

.btn-common:hover {
    background-color: var(--common-button-bg-hover);
}

.button_container,
.col_container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.row_container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}

header {
    margin: 3vh;
    height: 5vh;
    display: flex;
    flex-direction: row;
    column-gap: 1.5vh;
    align-items: center;
}

img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 17%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}

#iosText {
    display: none;
    position: absolute;
    bottom: 50px;
}
